html, body { 
    width: 100%; 
    height: 100%;
}

body 
{ 
    background-image: url('../background.png');
    background-repeat: repeat; 
    background-size: 0.4%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.MacPaint-widget
{ 
    position: absolute;
    width: 90vh; 
    height: 50vh; 
    display: grid; 
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
    gap: 1vh; 
}

.MacPaint-widget .tools
{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5; 

    background-color: white;
    border: black 1px solid; 
    box-shadow: black 3px 3px 0px;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); 
}

.MacPaint-widget .tools button
{ 
    all: unset; 
    
    display: flex; 
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    
    font-size: 3vh;
    cursor: pointer; 
}

.MacPaint-widget .tools button #emptySquare-icon
{ 
    width: 4vh; 
    height: 3vh; 

    border: 1px dashed black; 
}

.MacPaint-widget .tools button #filledSquare-icon
{ 
    width: 4vh; 
    height: 3vh; 

    border: 1px solid black; 
    background-color:  black; 
}

.MacPaint-widget .tools button #emptyCircle-icon
{ 
    width: 4vh; 
    height: 3vh; 

    border: 1px dashed black; 
    border-radius: 50%;
}

.MacPaint-widget .tools button #filledCircle-icon
{ 
    width: 4vh; 
    height: 3vh; 

    border: 1px solid black; 
    border-radius: 50%;
    background-color:  black; 
}

.MacPaint-widget .tools button.selected > div
{ 
    background-color: white !important;
    border: 1px solid white; 
}

.MacPaint-widget .tools button.selected
{ 
    background-color: black;
    color: white; 
}

.MacPaint-widget .tools button #line-icon
{ 
    width: 4vh;
    height: 0.3vh;
    background-color: black;
    transform: rotate(45deg);
    transform-origin: center;
}

.MacPaint-widget .canvas
{ 
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6; 

    background-color: white;
    border: black 1px solid; 
    box-shadow: black 3px 3px 0px;

    cursor: cell;
}

.MacPaint-widget .strokes-selection
{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 8; 

    background-color: white;
    border: black 1px solid; 
    box-shadow: black 3px 3px 0px;
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr); 
}

.MacPaint-widget .strokes-selection button 
{ 
    all: unset; 
    
    display: flex; 
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;

    color: white; 
}

.MacPaint-widget .strokes-selection button .strokes-icon
{ 
    width: 60%; 
    height: 0; 
    border-top: black solid;
}

.MacPaint-widget .strokes-selection button.selected
{ 
    color: black; 
}

.MacPaint-widget .strokes-selection button .strokes-icon#dashed
{ 
    border-style: dashed;
}

.MacPaint-widget .colors-selection
{ 
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8; 

    background-color: white;
    border: black 1px solid !; 
    box-shadow: black 3px 3px 0px;

    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}

.MacPaint-widget .colors-selection #selected-color-container
{ 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    border: black 1px solid; 
    border-bottom: transparent;

    display: flex; 
    justify-content: center;
    align-items: center;
}

.MacPaint-widget .colors-selection #selected-color-container #selected-color-window
{ 
    width: 50%; 
    height: 50%; 

    border: 1px solid black; 
}

.MacPaint-widget .colors-selection .color-icon
{ 
    all: unset; 

    border-top: black solid 1px; 
    border-right: black solid 1px; 
    box-sizing: border-box;

    cursor: pointer;
}




/********************** HEADER *************************/
.MacPaint-widget .canvas .header
{ 
  display: flex; 
  align-items: center;
  justify-content: flex-start; 
  height: 10%; 
  width: 100%; 
  background-color: black; 
  background-image: linear-gradient(to bottom, white 0%, white 0.25vh, transparent 2px, transparent 5px);
  background-size: 100% 12%;
  box-shadow: 0 0 0 0.5vh white inset;
  color: white; 
  font-family: 'DePixel'; 
  cursor: grab;
  border-bottom: black solid 3px; 
}

.MacPaint-widget .canvas .header #title
{ 
    width: 90%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.MacPaint-widget .canvas .header h3{ 
    background-color: white;
    color: black; 
    padding: 0px 5px; 
    margin: 0px; 
    font-size: 3vh; 
}

.MacPaint-widget .canvas .header #exit-box
{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 3vh; 
    height: 3vh; 
    cursor: pointer;
    box-shadow: 0 0 0 0.25vh black inset;
    border: solid 0.25vh white; 
    font-size: 1.25vh;
    color: black; 
    overflow: hidden;
    background-color: white;
    margin-left: 1vw; 
}



