html, body
{ 
    width: 100%; 
    height: 100%; 
    overflow: visible;
}

body { 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.calculator-widget
{ 
    position: fixed; 
    border: 5px black solid; 
    width: 30%; 
    height: 70%; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px;
}


.calculator-widget .body
{ 
    width: 80%; 
    height: 80%; 
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-column-gap: 2vw; 
    grid-row-gap: 2vh; 
    margin-top: 5%;
}

.calculator-widget .body button, .calculator-widget .body div 
{ 
    border: 0.8vh black solid; 
}

.total, .button 
{ 
    background-color: white;
    font-size: 5vh; 
    font-family: 'DePixel'; 
    display: flex; 
    align-items: center;
}

.total
{ 
    grid-column-start: 1;
    grid-column-end: 5; 
    grid-row-start: 1;
    grid-row-end: 3; 
    justify-content: flex-end;
    overflow: hidden;
}

.button { 
    box-shadow: 1vh 1vh black;
    justify-content: center;
}

.button:active { 
    border-color: white !important;
    background-color: black;
    color: white; 
}

.button.operator#add
{ 
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6; 
    grid-row-end: 8; 
}

.button.number#zero
{ 
    grid-column-start: 1;
    grid-column-end: 3; 
}

.calculator-widget .header 
{ 
    background-color: black;
    height: 10%; 
    width: 100%; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    cursor: pointer; 
}

.calculator-widget .header h3 
{ 
    font-size: 8vh;
    color: white; 
    font-family: 'DePixel';
}

.calculator-widget .header #exit-box
{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 4vh; 
    height: 4vh; 
    border: white 5px solid; 
    cursor: pointer; 
    color: white; 
    font-size: 10vh; 
    overflow: hidden;
}

.calculator-widget .button 
{ 
    cursor: pointer; 
}
