* {margin: 0px; font-family: 'DePixel';}

body, html 
{ 
  width: 100%; 
  height: 100%; 
}

body { 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.alarm-widget
{ 
  width: 50vh; 
  height: 25vh; 
  position: fixed; 
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1.5px black solid; 
  box-shadow: black 1vh 1svh;
}

.alarm-widget .header
{ 
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  height: 10%; 
  width: 100%; 
  background-color: white; 
  color: black; 
  font-family: 'DePixel'; 
  cursor: pointer;
  border: black solid 1.5px; 
}

.alarm-widget .header h3 
{ 
  font-size: 2vh; 
}

.alarm-widget .header #exit-box 
{ 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 1.5vh; 
  height: 1.5vh; 
  cursor: pointer;
  border: solid 2px black; 
  font-size: 1vh;
  color: black; 
  overflow: hidden;
  margin-left: 1vw; 
}

.alarm-widget-body
{
  width: 100%; 
  height: 90%; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alarm-widget .alarm-widget-body #display
{ 
  height: 30%; 
  width: 100%; 
  border: 1.5px black solid; 
  border-bottom: none;
  display: flex; 
  justify-content: center;
  align-items: center;

  font-size: 3.5vh; 
  font-weight: bold;
  
}

.alarm-widget .alarm-widget-body #display > section
{ 
  display: none; 
}

.alarm-widget .alarm-widget-body #display > section.active
{ 
  display: flex; 
}

.alarm-widget .alarm-widget-body #display #display-alarm
{ 
  width: 100%; 
  height: 100%; 
  justify-content: space-evenly;
  align-items: center;
}

.alarm-widget .alarm-widget-body #display #display-alarm .switch 
{ 
  position: relative;
  display: inline-block; 
  width: 1.5vh; 
  height: 3.5vh; 
}

.alarm-widget .alarm-widget-body #display #display-alarm .switch input 
{ 
 display: none; 
}

.alarm-widget .alarm-widget-body #display #display-alarm .switch .slider
{ 
  position: absolute;
  cursor: pointer; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-color: white;
  border: black 0.20vh solid; 
  -webkit-transition: .4s;
  transition: .4s; 
}

.alarm-widget .alarm-widget-body #display #display-alarm .switch .slider::before
{ 
  position: absolute; 
  content: " "; 
  height: 1.15vh; 
  width: 1.15vh; 
  left: 0; 
  bottom: 0; 
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-bottom: none
}

.alarm-widget .alarm-widget-body #display #display-alarm .switch input:checked + .slider{ 
  background-color: black; 
}

.alarm-widget .alarm-widget-body #display #display-alarm .switch input:checked + .slider::before
{ 
  background-color: white;
  -webkit-transform: translateY(-2vh);
  -ms-transform: translateY(-2vh); 
  tranform: translateY(-2vh); 
  border-top: none; 
}

.alarm-widget .alarm-widget-body #display #display-alarm .setAlarm
{ 
  width: 60%; 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0px; 
}

.alarm-widget .alarm-widget-body #display #display-alarm .setAlarm input
{ 
  width: 5vh; 
  font-size: 3.5vh;
  border: none; 
  padding: 0px; 
  margin-left: 5px; 
  color: black;
  cursor: pointer; 
  font-weight: bold;
}
.alarm-widget .alarm-widget-body #display #display-alarm .setAlarm input#meridiem
{ 
  width: 7vh; 
}

.alarm-widget .alarm-widget-body #display #display-alarm .setAlarm input.active
{ 
  background-color: black;
  color: white; 
  border: black solid 0.5px; 
  outline: black solid 0.5px; 
  cursor: pointer;
  caret-color: transparent;
}

.alarm-widget .alarm-widget-body #display #display-alarm .upDownButtons
{ 
  font-size: 1.75vh;
  border: black solid 1px; 
  display: flex; 
  flex-direction: column;
  height: 70%; 
  justify-content: space-around;
  padding: 0.25vh; 
  border-radius: 0.40vh;
  cursor: pointer;
}

.alarm-widget .alarm-widget-body #display #display-alarm .upDownButtons button {
  all: unset; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: inherit; 
}


.alarm-widget .alarm-widget-body #selection-container 
{ 
  border: black solid 1.5px; 
  height: 70%; 
  width: 100%; 
  display: flex; 
  justify-content: space-evenly;
  align-items: flex-end;
}

.alarm-widget .alarm-widget-body #selection-container .selection 
{ 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%; 
  border: black solid 1.5px; 
  background-color: white;
  cursor: pointer;
}

.fa-regular
{ 
    color: black; 
    font-size: 10vh;
    font-weight: lighter; 
}

.active.selection 
{ 
  box-shadow: 0 0 0 0.5vh white inset;
  background-color: black !important;
}

.active.selection .fa-regular 
{ 
    color: white; 
}

.selection#alarm.alarm-on .fa-regular
{ 
    color: red; 
}


